body {
  height: 100dvh;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 12rem;
}

nav {
  height: 4rem;
}

.main-content {
  padding: 3rem;
  text-align: center;
}

.main-content h2 {
  flex: 0 1 auto;
  padding: 0 4rem;
}

.main-content__title {
  display: inline-flex;
}

.main-content__title-line {
  position: relative;
  flex: 1 1 0;
}

.main-content__title-line::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 1px solid #000;
}

.main-content__item img {
  width: 100%;
  height: auto;
  max-height: 20rem;
  border-radius: 20px 20px 0 0;
  border-bottom: 0.5rem solid blue;
  object-fit: cover;
}

.main-content__item-text {
  padding: 15px;
  margin: 0;
}

.main-content__more-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.main-content__more-img::before {
  content: "";
  position: absolute;
  border-left: 4px solid red;
  inset: 0;
}

.main-content__box {
  min-height: 15rem;
  background-color: lightblue;
  border-radius: 0 0 20px 20px;
  padding: 5rem;
}

.main-content__box-logo {
  max-height: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content__box-content::before {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 4px solid red;
  top: 0;
  bottom: 0;
  left: -1rem;
}

.main-content__box .main-content__box-logo img {
  min-height: 0;
}

.footer__bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  background-color: blue;
  color: white;
}

.footer__top {
  height: 18rem;
  background-color: lightskyblue;
}

.main-logo {
  background-color: lightblue;
  padding: 4rem;
}

.main-logo img {
  height: auto;
  max-height: 8rem;
}

.link img,
.main-logo img,
.main-content__box .main-content__box-logo img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.main-content__item-img,
.main-content__more-img {
  display: flex;
  flex-direction: column;
  aspect-ratio: 16 / 9;
}

.main-content__item img,
.main-content__more img {
  width: fit-content;
  height: 100%;
  object-fit: cover; /* nebo contain, podle potřeby */
}
